*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body
{
    width:100vw;
    height:100vh;
    flex-wrap: wrap;
}
.small-div-img
{
    width: 40%;
    height:80%;
    top:140px;
    margin-top:20vh;
    background:rgb(124, 60, 17);
    position: absolute;
    background-image:url("https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fG1vZGVsfGVufDB8fDB8fHww");
    background-position:center;
    background-size:cover;
}
  .a
{
 width:100vw;
 height:30vh;
 text-align: center;
 top:20vh;
 position:absolute;
 left:30vw;
 bottom:40%;
 right:-160vw;
 margin-top:30vh;
 text-transform: uppercase;
 color:transparent;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 -webkit-text-stroke-color:rgb(255, 230, 0);
 -webkit-text-stroke-width:2px;
 letter-spacing:8px;
 transform:rotate(90deg);
}
   .brand
{
    width:100vw;
    line-height:130px;
    top:90px;   
    text-transform:uppercase;
    font-weight:700;
    background:#c26f4e;
    color:red;
    font-family:'Times New Roman', Times, serif;
    ;
    font-size: 60px;
}
header,footer
{
    width:100%;
    height:100%;
    position:absolute;
}
   header
  {
    width:100vw;
    height:100svh;
    position: absolute;
     }
 header>.main>a
{
   width:100vw;
   height:100vh;
   position: absolute;
   text-align: center;
   display:flex;
}
header .main .link1 a
{
top:20px;
text-transform: uppercase;
width:100vw;
height:100vh;
line-height:20px;
margin-left:25vw;
position:absolute;
}
header .main .link2 a
{
text-transform: uppercase;
width:100vw;
height:100vh;
line-height:60px;
position:absolute;
margin-left:40vw;
}
header .main .link3 a
{
text-transform: uppercase;
width:100vw;
height:100vh;
position: absolute;
line-height:60px;
margin-left:60vw;
}
header .main .link4 a
{
    width:100vw;
    height:100vh;
    position:absolute;
    text-transform: uppercase;
    line-height:60px;
    margin-left:75vw;
}
header .main a:hover
{
   color:pink;
}
header .main a:visited
{
   color:blue;
}
header .main a:active
{
   color:purple;
}

footer
{
    width:100vw;
    height:100svh;
    text-align:center;
    color:rgb(27, 56, 33);
    position:relative;
}
  footer h2
{
  width:100vw;
  height:100vh;
  font-size:45px;
  color:red;
  background:rgb(233, 151, 118);
  position: absolute;
}
.color
{
    width:100vw;
    height:100vh;
    background:#c26f4e;
    display:flex;
}

.part2
{
    width:63vw;
    height:100vh;
    margin-left:40vw;
    background-image:url("https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    background-position:center;
}
